@{
    ViewBag.Title = "Snowdrop flash card generator.";
}
<h1>
    Generate flash cards pdf</h1>
<form class="well" action="Home/Generate" method="post">
<label>
    Words</label>
<textarea class="input-xlarge" id="wordLines" name="wordLines" rows="20"></textarea>
<p class="help-block">
    Add the words one line at a time. Leave blank words between sets. To generate number cards use the number and the name of the shape. Available shapes are (airplanes, apples, babies, ballons, balls, boats, cars, computers, horses, monkeys, pandas, stars, teddies, trucks). For expamle: 1 cars or 20 trucks.</p>
<button type="submit" class="btn">
    Create flash cards</button>
</form>
<div class="well">
    <p>
        Example pdf file: <a href="/Content/example.pdf">flash cards</a>
    </p>
</div>
